<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Диспечер</title>
        {#Импортируйте стили CSS и динамику JS, которые Bootstrap помог нам настроить  #}
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    
    
    {% include 'host/nav.html' %}
    <p class="lead">Данная программа создана в качестве НИР, студентом кафедры математического моделирования, института ИВТИ, НИУ МЭИ.
       <h5> Выполнил: Холиков А.Н </h5>
        под руководством преподавателя: <h5 > Шевченко И.В.</h5> 
    2022</p>
</body>
</html>