
<nav class="navbar navbar-light bg-light"" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="/">Система мониторинга ПК</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="disk/">Мониторинг разделов диска</a></li>
                <li class="nav-item"><a href="users/">Согласованное содержимое файла</a></li>
                <li class="nav-item"><a href="diff/">Сравнение конфиг файлов</a></li>
                <li><a href="monitor/">Диспечер</a></li>
                <li><a href="about/">О программе</a></li>
                <li><a href="auth/">Авторизация</a></li>



            </ul>
        </div>
    </div>
</nav>